{{/* html code for section 5 @Homepage goes here */}}

<section id="home-sec-5">
  <h1 class="husig_h2_tag" id="">
    For Us, Confidentiality and Data Privacy Are Paramount to the Success and
    Trust of Your Organization
  </h1>
  <div id="sec5-content-grid">
    <div id="top-grid">
      <div class="sec_5_content">
        <img
          class="grid_content_images"
          src="images/homepage/featureGrid/anonimity.webp"
          alt="anonimity"
        />
        <h3 class="clash_h3">Project Anonymity</h3>
        <h4 class="husig_h3_tag">
          We respect the privacy of our clients and offer the option to use code
          words or pseudonyms for projects, ensuring anonymity and
          confidentiality.
        </h4>
      </div>

      <div class="sec_5_content">
        <img
          class="grid_content_images"
          src="images/homepage/featureGrid/anonimity.webp"
          alt="anonimity"
        />
        <h3 class="clash_h3">Project Anonymity</h3>
        <h4 class="husig_h3_tag">
          We respect the privacy of our clients and offer the option to use code
          words or pseudonyms for projects, ensuring anonymity and
          confidentiality.
        </h4>
      </div>

      <div class="sec_5_content">
        <img
          class="grid_content_images"
          src="images/homepage/featureGrid/anonimity.webp"
          alt="anonimity"
        />
        <h3 class="clash_h3">Project Anonymity</h3>
        <h4 class="husig_h3_tag">
          We respect the privacy of our clients and offer the option to use code
          words or pseudonyms for projects, ensuring anonymity and
          confidentiality.
        </h4>
      </div>
    </div>

    <div id="bottom-grid">
      <div class="sec_5_content">
        <img
          class="grid_content_images"
          src="images/homepage/featureGrid/anonimity.webp"
          alt="anonimity"
        />
        <h3 class="clash_h3">Project Anonymity</h3>
        <h4 class="husig_h3_tag">
          We respect the privacy of our clients and offer the option to use code
          words or pseudonyms for projects, ensuring anonymity and
          confidentiality.
        </h4>
      </div>

      <div class="sec_5_content">
        <img
          class="grid_content_images"
          src="images/homepage/featureGrid/anonimity.webp"
          alt="anonimity"
        />
        <h3 class="clash_h3">Project Anonymity</h3>
        <h4 class="husig_h3_tag">
          We respect the privacy of our clients and offer the option to use code
          words or pseudonyms for projects, ensuring anonymity and
          confidentiality.
        </h4>
      </div>

      <div class="sec_5_content">
        <img
          class="grid_content_images"
          src="images/homepage/featureGrid/anonimity.webp"
          alt="anonimity"
        />
        <h3 class="clash_h3">Project Anonymity</h3>
        <h4 class="husig_h3_tag">
          We respect the privacy of our clients and offer the option to use code
          words or pseudonyms for projects, ensuring anonymity and
          confidentiality.
        </h4>
      </div>
    </div>
  </div>
</section>
