section.hero_section {

    gap: 1.25vw;
 
    align-content: space-between;


    padding: 132px 6.25vw;
    padding-bottom: 256px;

    position: relative;
    z-index: 20;

    display: flex;
    flex-direction: row;

}


    div.hero_image img {
    width: 100%;
    object-fit: cover;        
    height: auto;
}




div.hero_text {
    /* Transform Raw Data Into Actionable Insights */

width: auto;
min-width: 43.125vw;

font-family: 'Clash Display';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 72px;
/* or 112% */

/* white */
color: #FFFFFF;


}

span.raw_data_span {

display: inline-block;


background: linear-gradient(96.44deg, #6B138C 40.01%, #D2A6E2 58%, #600881 74.94%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* text-fill-color: transparent; */


}



/* shimmy */

#shimmyBackground {
/* Ellipse 31 */

position: absolute;
width: 139.16vw;
height: 326.61px;
left: -15.92vw;
top: 296.22px;

z-index: 0;

/* amethyst-primary */
background: #AD5ACC;
opacity: 0.2;
filter: blur(210px);
transform: rotate(-15deg);

overflow: hidden;

}

/*  */


