{{ define "main" }}
<!-- {{ .Content }}
  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }} -->

<section class="hero_section">
  <div id="shimmyBackground"></div>

  <div class="hero_text">
    <h1>
      Transform <span class="raw_data_span">Raw Data</span> Into Actionable
      Insights
    </h1>
    <p class="hero_desc">
      We rapidly develop, refine, and deploy end-to-end analytics applications
      using cutting-edge tools and capabilities you will need to make
      intelligent business decisions.
    </p>
    <div class="logobutton">
      <button id="hero-logo-button" class="husig_cta">
        <img
          src="../images/homepage/calendar_icon.svg"
          alt="Logo"
          class="logo"
        />
        <span class="button-text">Book a Free Discovery Call</span>
      </button>
    </div>
  </div>
  <div class="hero_image">
    <img src="images/homepage/hero.webp" alt="husig hero image" />
  </div>
</section>

<div class="clients">
  <h3>Trusted by Top Companies</h3>
  <div class="clients_row">
    <img src="../images/homepage/google_logo.svg.svg" alt="google" width="224.71px" />
    <img src="../images/homepage/adidas.svg" alt="adidas" width="109.82px" />
    <img src="../images/homepage/airbonb.svg" alt="google" width="233.01px" />
    <img src="../images/homepage/apple_logo.svg.svg" alt="google" width="60.15px" />
    <img src="../images/homepage/mcdonalds_symbol.svg.svg" alt="google" width="85.04px" />
    <img src="../images/homepage/Logo.svg.svg" alt="google" width="227.18px" />
  </div>
</div>

{{/* Homepage: Section 2 */}}

<section id="homepage-section-2">
  <h1 class="husig_h2_tag" id="analysis-to-action">
    From Analysis to Action: Services That Drive Results
  </h1>
  <div id="sec2-buttons" style="height:96px;">

    <button class="sec2_inactive_class tab_button active" data-tab="tab1">Analytics</button>
    <button class="sec2_inactive_class tab_button" data-tab="tab2">Decision Sciences</button>
    <button class="sec2_inactive_class tab_button" data-tab="tab3">Data Engineering and Infra</button>

  </div>

<div>
  
  <div class="tab-content active" id="tab1">
    <h2>Analytics</h2>
    <p>Comprehensive Data Integration and Automation</p>
    <p>Tailored Analytical Solutions</p>
    <p>Advanced Reporting and Visualization</p>
    <p>Expertise in Leading Technologies</p>
    <p>End-to-End Analytics Services</p>
    <p>Client-Centric Approach</p>
    <button>Learn More</button>
</div>

<div class="tab-content" id="tab2">
    <h2>Decision Sciences</h2>
    <p>Content for Decision Sciences</p>
</div>

<div class="tab-content" id="tab3">
    <h2>Data Engineering and Infra</h2>
    <p>Content for Data Engineering and Infra</p>
</div>
</div>

</section>

{{ end }}
