{{ define "main" }}
<!-- {{ .Content }}
  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }} -->

<section class="hero_section">
  <div id="shimmyBackground"></div>

  <div class="hero_text">
    <h1>
      Transform <span class="raw_data_span">Raw Data</span> Into Actionable
      Insights
    </h1>
    <p class="hero_desc">
      We rapidly develop, refine, and deploy end-to-end analytics applications
      using cutting-edge tools and capabilities you will need to make
      intelligent business decisions.
    </p>
    <div class="logobutton" id="hero-logobutton">
      <button id="hero-logo-button" class="husig_cta">
        <img
          src="images/homepage/calendar_icon.svg"
          alt="Logo"
          class="logo"
        />
        <span class="button-text">Book a Free Discovery Call</span>
      </button>
    </div>
  </div>
  <div class="hero_image">
    <img src="images/homepage/hero.webp" alt="husig hero image" />
  </div>
</section>

<div class="clients">
  <h3>Trusted by Top Companies</h3>
  <div class="clients_row">
    <img
      src="images/homepage/google_logo.svg.svg"
      alt="google"
      width="224.71px"
    />
    <img src="images/homepage/adidas.svg" alt="adidas" width="109.82px" />
    <img src="images/homepage/airbonb.svg" alt="google" width="233.01px" />
    <img
      src="images/homepage/apple_logo.svg.svg"
      alt="google"
      width="60.15px"
    />
    <img
      src="images/homepage/mcdonalds_symbol.svg.svg"
      alt="google"
      width="85.04px"
    />
    <img src="images/homepage/Logo.svg.svg" alt="google" width="227.18px" />
  </div>
</div>

{{/* Homepage: Section 2 */}}

<section id="homepage-section-2">
  <h1 class="husig_h2_tag" id="analysis-to-action">
    From Analysis to Action: Services That Drive Results
  </h1>
  <div id="sec2-buttons" style="height: 96px">
    <button class="sec2_inactive_class tab_button active" data-tab="tab1">
      Analytics
    </button>
    <button class="sec2_inactive_class tab_button" data-tab="tab2">
      Decision Sciences
    </button>
    <button class="sec2_inactive_class tab_button" data-tab="tab3">
      Data Engineering and Infra
    </button>
  </div>

  <div>
    <div class="tab-content active" id="tab1">
      <div class="left">
        <img
          class="sec2_illust"
          src="images/homepage/Analytics.webp"
          alt="Analytics Illustration"
        />
      </div>
      <div class="right">
        <h2 class="purple_h2">Analytics</h2>
        <div class="icon_list_div">
          <ul class="icon-list husig_h3_tag">
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />Comprehensive Data Integration and Automation
            </li>
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />Tailored Analytical Solutions
            </li>
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />Advanced Reporting and Visualization
            </li>
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />Expertise in Leading Technologies
            </li>
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />End-to-End Analytics Services
            </li>
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />Client-Centric Approach
            </li>
          </ul>
        </div>
        <button class="husig_cta learn_more_cta">Learn More</button>
      </div>
    </div>

    <div class="tab-content" id="tab2">
      <div class="left">
        <img
          class="sec2_illust"
          src="images/homepage/DecisionSciences.webp"
          alt="Analytics Illustration"
        />
      </div>
      <div class="right">
        <h2 class="purple_h2">Decision Sciences</h2>
        <div class="icon_list_div">
          <ul class="icon-list husig_h3_tag">
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />Strategic Consulting and Framework Development
            </li>
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />Operational Research and Optimization
            </li>
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />Scenario Analysis and Risk Management
            </li>
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />Expertise in Leading Technologies
            </li>
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />End-to-End Decision Science Services
            </li>
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />Client-Centric Approach
            </li>
          </ul>
        </div>
        <button class="husig_cta learn_more_cta">Learn More</button>
      </div>
    </div>

    <div class="tab-content" id="tab3">
      <div class="left">
        <img
          class="sec2_illust"
          src="images/homepage/DataEng.webp"
          alt="Analytics Illustration"
        />
      </div>
      <div class="right">
        <h2 class="purple_h2">Data Engineering and Infra</h2>
        <div class="icon_list_div">
          <ul class="icon-list husig_h3_tag">
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />Modernization and Optimization
            </li>
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />Data Governance and Compliance
            </li>
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />Infrastructure Management and Optimization
            </li>
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />Data Engineering Services
            </li>
            <li>
              <img
                src="images/homepage/list_icon.svg"
                alt="list icon"
                class="list_icon_image"
              />Training and Best Practices
            </li>
          </ul>
        </div>
        <button class="husig_cta learn_more_cta">Learn More</button>
      </div>
    </div>
  </div>

{{/*  cta  */}}
<div style="width: 100%;">
  <div class="logobutton">
    <button  class="husig_cta hero-logo-button">
      <img
        src="images/homepage/calendar_icon.svg"
        alt="Logo"
        class="logo"
      />
      <span class="button-text">Book a Free Discovery Call</span>
    </button>
  </div>
</div>
{{/*  end  */}}

</section>



{{ end }}
