<section id="contact-us">
    <div id="left-contact">
        <h2 class="husig_h2_tag">Contact Us</h2>
    </div>
    <div id="right-contact">

        <div class="label_group">
            <label for="">Name</label>
        <input type="text" id="contact-name" type="text">
        </div>

        <div class="label_group">
            <label for="">Email</label>
        <input type="text" id="contact-email" type="text">
        </div>
        
       <div class="label_group">
        <label for="">Message</label>
        <textarea name="" id="contact-message"></textarea>
       </div>

        <button class="husig_cta" id="contact-us-cta" >
            Contact Us
        </button>

    </div>
</section>


<p>Copyright {{ now.Year }}. All rights reserved.</p>
